/* Medium */
@media (min-width:992px) and (max-width:1199px){
	.content-width{
		width: 860px;
	}
    .header-bg{
        height: 140px;
    }
    header{
    	padding-top: 25px;
    	.header-main-nav{
            a{  
            	padding: 0 10px;
                color: #3b401e;             
            }
    	}

	}
}

