@media(min-width:768px) and (max-width:991px){
	.content-width{
		width: 700px;
	}
	.header-bg{
        height: 210px;
        padding-top: 25px;
        header{
        	.logo{
        		img{
        			position: inherit;
        		}
        	}
            .header-main-nav{
                a{  
                	padding: 0 10px;
                    color: #3b401e;         
                }
                a:first-child{
                padding-left: 0;
                } 
                a:last-child{
                border-right: none;
                padding-right: 0px;
                }   
    	   }
        }
    }

    .main-section{
        .info-poster{
            h1{
                padding-top: 10px;
                font-size: 50px;
            }
                p{
                   width:400px;
                }
            }
        .news-section{
            article{
                img{
                margin: 0 15px 5px 0!important;
                float: none;
                }
                h2{
                    font-size: 20px;
                }

            }	
        }
    }
    .footer-wrapper{
	    footer{
	    	.center-column-footer{
		    	.first-center-list,
		        .second-center-list{
		            margin-right: 20px;
		        }
	    	}
	  	}
	}

}
